.app{
  display: flex;
}
canvas{
 /* background-color: red; */
  position: absolute;
}

.navbar{
  height: 50px;
  background-color: rgb(41, 210, 75);
  display: flex;
  align-items: center;
  color: rgb(13, 13, 135);
  font-weight: bold;
  padding: 0px 100px;
  font-size: 27px;
}
.newPostCard{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addPost{
  display: flex;
}
label{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addImg{
  width: 35px;
  cursor: pointer;
  padding-left: 10px;
}
.postForm{
  display: flex;
  flex-direction: column;
}
.avatar{
  width: 75px;
  height:75px;
  border-radius: 50px;
  margin-right: 20px;
}
.postInput{
  height: 30px;
   border: none; 
  margin-bottom: 10px;
}
.container {
 /* height: calc(100vh - 50px); */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.left{
  display: flex;
  align-items: center;
  justify-content: center;
}
